:root{
  --themeColor: #00ceb9;
}

.bg-theme{
  background-color: var(--themeColor);
}

.cart-icon{
  font-size: 2rem;
}

.navbarUl{
  flex-grow: 0;
  float: right;
}

.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-background{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position-y: -100px;
}

.btn-warning{
  padding: 8px 35px;
}